.buttons {
  background-color: white;
  border: none;
  border-radius: 25px;
  height: 90px;
  cursor: pointer;
  width: 500px;
}

.header {
  color: antiquewhite;
}

.result {
  font-family: Arial;
  color: antiquewhite;
}

.button {
  background-color: white;
  border: none;
  border-radius: 25px;
  height: 90px;
  cursor: pointer;
  width: 500px;
  margin-left: 20px;
}

.rock {
  height: 50px;
}

.paper {
  height: 50px;
}

.scissor {
  height: 50px;
}
